__pycache__/
*.ncu-rep
*.tar.gz
*.cif
*.a3m
*.a2m
*.m8
data/pdb_data/data_caches/train_clusterings/*
data/pdb_data/data_caches/val_clusterings/*
data/pdb_data/data_caches/test_clusterings/*
*.npy.gz
logs/*
output/*